*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

#nav_style {
    background-color: rgba(0,0,0,0.8);
}

#nav_style a {
    color: white;
}

/* Main Header */

.main_header {
    width: 100%;
}

.rightside h1{
    font-size: 3rem;
}

.corona-rotate img{
    animation: gocorona 3s linear infinite;
}
@keyframes gocorona {
    0%{ transform: rotate(0);}
    100%{ transform: rotate(360deg);}
}

.leftside img {
    animation: stay-alert 5s linear infinite;
}
@keyframes stay-alert {
    0% {
        transform: scale(.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(.75);
    }
}

/************** CORONA UPDATES   ***********/

.world_corona_update, .india_corona_update{
    background-color: hsla(78, 87%, 67%, 0.698);
}
.corona_update {
    margin: 0 0 30px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.corona_update h3 {
    color: #ff7675;
}
.corona_update h1 {
    text-align: center;
    font-size: 2rem;
}

/********** search  ***********/

#serch-contry {
    display: none;
}


button  {
    margin-left: 48%;
}
.country {
    background-color: darkorchid;
    color: white;
}

.totalConfirmed {
    background-color: #0baaf4;
    color: rgba(0,0,0,1);
}

.TotalRecovered {
    background-color: hsl(120, 94%, 54%);
    color: rgba(0,0,0,0.7);
}

.TotalDeath {
    background-color: red;
    color: rgba(0,0,0,0.7);
}
.NewConfirmed {
    background-color: #0baaf4;
    color: rgba(0,0,0,0.7);
}

.NewRecovered {
    background-color: hsl(120, 94%, 54%);
    color: rgba(0,0,0,0.7);
}

.NewDeaths {
    background-color: red;
    color: rgba(0,0,0,0.7);
}
td {
    opacity: 0.8;
}

#india_tbval tr {
    text-align: center;
}

@media screen and (max-width:800px) {
    button{
        margin-left: 45%;
    }
}
@media screen and (max-width:500px) {
    button{
        margin-left: 41%;
    }
}